body {
	position: absolute;
}

.form {
	color: red;
}

.line {
	height: 2px;
	width: 800px;
	background: black;
	margin: 30px auto 30px auto;
	border: 0;
}
h1 {
	text-align: center;
	margin: 0 0 30px 0; 
}
p, a {
	margin-left: 23%;
	font-size: 21px
}
h2 {
	margin-left: 23%;
}
ul {
	margin-left: 21%;
	font-size: 21px
}
.feedback {
	width: 1000px;
}
hr {
	width: 800px;
}

.wrapper {
	width: 1000px;
 	height: 1100px;
	background: white;
	margin: 5% auto 5% 17%;
	padding-top: 50px;
	position: relative;
	box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.91);
}
.content {
	position: absolute
	left: 150;
}
